@import '../styles/colors';
@import '../styles/components';
@import '../styles/tables';
@import '../styles/sensor-common';
@import '../components/Modal';

.sensor-detail {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.sensor-header {
    padding: 24px;
}

.sensor-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 24px;
}

.projects-list {
    margin-top: 16px;
}

/* Модальное окно для добавления проекта */
.modal-content {
    max-width: 500px;
}