apiVersion: 1

datasources:
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    isDefault: true
    editable: true
    jsonData:
      maxLines: 1000
      # Grafana автоматически обнаружит все labels из Loki
      # Новые labels (level, path, logger, event, method, status_code, error_type, trace_id, request_id)
      # будут доступны в фильтрах после поступления новых логов
      derivedFields:
        - datasourceUid: loki
          matcherRegex: "trace_id=(\\w+)"
          name: TraceID
          url: '$${__value.raw}'
