name: mypy

on:
  push:
    branches: ["main"]
  pull_request:

env:
  POETRY_VERSION: "1.8.3"

jobs:
  type-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Poetry
        run: pipx install poetry==${{ env.POETRY_VERSION }}

      - name: Install backend dependencies
        working-directory: projects/backend/services/experiment-service
        run: poetry install --no-interaction --no-root

      - name: Run mypy
        working-directory: projects/backend/services/experiment-service
        run: poetry run mypy src

